@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    'Open Sans', 
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  font-size: 12px;
  margin-bottom: 4px;
}

pre {
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 4px;
}

li code, p code {
  background: #fbdeda;
  color: #ee4a49;
  border-radius: 4px;
  padding: 2px 4px;
}